body {
    background-color: #333D5C;
    color: #E5E6AE;
}
div.subtasks-container {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}
div.subtask-container {
    display: flex;
    padding-left: 2%;
    margin-top: 10px;
}
div.subtasks-container {
    border-top: 2px #184e57 solid;
}

p.completed-task-description {
    text-decoration: line-through;
}

p.completed-task-title {
    opacity: 0.6;
    text-decoration: line-through;
}
svg#task-icon-incomplete,
svg#task-icon-completed {
    margin-top: 10px;
}
h1 {
    text-align: center;
}
section#task-container {
    background-color: #407a7e;
    border-radius: 4px;
    padding: 10px 0px;
}
