body {
    background-color: #333D5C;
    color: #E5E6AE;
}
div.subtasks-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
}

div.subtask-container {
    display: flex;
    margin-top: 10px;
}
div.task-icon-container>svg {
    margin-top: 10px;
}
h1 {
    text-align: center;
}
section#task-container {
    background-color: #407a7e;
    border-radius: 4px;
    padding: 10px 0px;
}